head
	title discoveroute

	include GAExperiments.html

	// bootstrap meta stuff
	meta(name='viewport' content='width=1024, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
	// google font
	link(href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css')
	// external stylesheets
	link(rel='stylesheet', href='/stylesheets/bootstrap.css')
	link(rel='stylesheet', href='/stylesheets/font-awesome.css')
	link(rel='stylesheet', href='/stylesheets/ionic.css')
	// discoveroute stylesheets

	block styles
