extends layout.jade

block styles
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/categories.css')
    link(href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet")
    link(rel="stylesheet" type="text/css" media="screen" href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css")

block content

    div(class='interaction-bar')      
      div(class="form-group")
        input(type="text" class="form-control" style="width: 150px;" id="routeStart" placeholder="Start")
        input(type="text" class="form-control" style="width: 150px;" id="routeEnd" placeholder="End")
      button(type="submit" class="btn btn-default" id="routeButton") Route

      div(id="timer")
        div(id="tripTime")</br>
      //  include timer.html
      //  button(type="button" class="btn btn-default" id="timeButton") Start Timer

      div(id="categories")

    div(id="map_canvas")

block scripts
    script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
    script(src='javascripts/index.js')
