extends layout.jade

block styles
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    link(rel='stylesheet' href='/stylesheets/categories.css')
    link(rel='stylesheet' href='/stylesheets/places.css')
    link(href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet")
    link(rel="stylesheet" type="text/css" media="screen" href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css")
    link(rel='stylesheet' href='/stylesheets/index.css')
    link(rel="stylesheet" href='/stylesheets/style.css')
    link(rel="apple-touch-icon" href="/images/R.png")

block content
  div(id="interaction-bar" class='interaction-bar')
    div(id="form-group" class="form-group")
      div(class="btn-group vehicleSelect")
        div(class='btn-group')
          label
            input(type='radio' class='input_hidden' name='vehicleOptions' id='vehicleOptions' value='DRIVING' checked) 
            img(src='images/car.png')
        div(class='btn-group')
          label
            input(type='radio' class='input_hidden' name='vehicleOptions' id='vehicleOptions' value='TRANSIT') 
            img(src='images/bus.png')
        div(class='btn-group')
          label  
            input(type='radio' class='input_hidden' name='vehicleOptions' id='vehicleOptions' value='BICYCLING') 
            img(src='images/bike.png')
        div        
          label
            input(type='radio' class='input_hidden' name='vehicleOptions' id='vehicleOptions' value='WALKING') 
            img(src='images/walk.png')

      input(type="text" class="form-control" id="routeStart" placeholder="Start")
      input(type="text" class="form-control" id="routeEnd" placeholder="End")
      button(type="submit" class="btn btn-default" id="routeButton") Route
    div(id="categories")
    div(id="detourDisplay")
  div(id="map_canvas")
block scripts
    script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
    script(src='javascripts/index.js')

