extends layout.jade

block styles
    link(rel='stylesheet' href='/stylesheets/categories.css')
    link(rel='stylesheet' href='/stylesheets/places.css')
    link(href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet")
    link(rel="stylesheet" type="text/css" media="screen" href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css")
    link(rel='stylesheet' href='/stylesheets/index.css')

block content
  div(class="row")
    div(id="map_canvas")
    div(class='interaction-bar')  
      div(id="this-carousel-id" class="carousel slide")
        div(id="this-carousel-inner" class="carousel-inner")
        a(class="carousel-control left" href="#this-carousel-id" data-slide="prev") &lsaquo;
        a(class="carousel-control right" href="#this-carousel-id" data-slide="next") &rsaquo;

      div(class="form-group")
        input(type="text" class="form-control" id="routeStart" placeholder="Start")
        input(type="text" class="form-control" id="routeEnd" placeholder="End")
      button(type="submit" class="btn btn-default" id="routeButton") Route

      div(id="timer")
        div(id="tripTime")</br>
        include timer.html
        button(type="button" class="btn btn-default" id="timeButton") Start Timer
        <br/>
        <br/>
        div(id="timerValue")

      div(id="categories")

      div(id="detourDisplay")

    div(id="map_canvas")
block scripts
    script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src='javascripts/index.js')
