doctype html
html
  include head.jade
  body
    // left sidebar navigation
    nav(id='sidebar-menu' class='sidebar')
      ul(id='sidebar-list' class='text-center')
        li
          a(href='#' class='sidebar-destination') 
            span(class='glyphicon glyphicon-map-marker') 
            | Destination
        li
          div
            a(href='#' class='sidebar-time')
              span(class='fa fa-clock-o') 
              | Time
          div(class='inactive-icon')
            span(class='fa fa-circle')
        li
          div
            a(href='#' class='sidebar-categories')
              span(class='fa fa-ellipsis-h')
              | Categories
          div(class='inactive-icon')
            span(class='fa fa-circle')
        li
          a(href='#' class='sidebar-activities')
            span(class='fa fa-floppy-o') 
            | Recent Detours

    div(class='main-container')
      // topbar navigation
      div(class="bar bar-header bar-dark topbar")
        button(class='button fa fa-bars' id='sidebar-button')
        h1(class="title")
          a(href="#" class="logo-button")
            img(src='images/drWhite.png' class='logo')

      block content

    include scripts.jade
    block scripts
