<html>
<head>
  <title>Places</title>
  <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <style>
  .business {
    padding: 10px;
  }
  </style>
</head>
<body>
  <div class="row business">
    <div class="col-sm-2">
      <img src="http://s3-media4.ak.yelpcdn.com/bphoto/oO5n4mbhco6ouc_TNK7vnQ/ms.jpg">
    </div>
    <div class="col-md-4">
      <p class="business_name">Coupa Cafe - Green Library</p>
      <p class="distance">267.28993855186195</p>
      <p class="phone">6503310672</p>
    </div>
  </div>
    <div class="row business">
    <div class="col-sm-2">
      <img src="http://s3-media4.ak.yelpcdn.com/bphoto/oO5n4mbhco6ouc_TNK7vnQ/ms.jpg">
    </div>
    <div class="col-md-4">
      <p class="business_name">Coupa Cafe - Green Library</p>
      <p class="distance">267.28993855186195</p>
      <p class="phone">6503310672</p>
    </div>
  </div>

</body>
</html>