<html>
<head>
  <title>Places</title>
  <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
</head>
<body>
  <div class="row">
    <div class="col-md-2">
      <img src="http://s3-media4.ak.yelpcdn.com/bphoto/oO5n4mbhco6ouc_TNK7vnQ/ms.jpg">
    </div>
    <div class="col-md-8">
      <p class="business_name">Coupa Cafe - Green Library</p>
    </div>
  </div>

</body>
</html>