<!doctype html>

<html>
<head>
	<title>Saved Routes</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="savedroutes.css">

</head>

<body>

	<div class="container">

		<div class="btn-group btn-group-justified">
	  		<div class="btn-group">
	    		<button type="button" class="btn btn-default">Car</button>
	  		</div>
	  		<div class="btn-group">
	  			<button type="button" class="btn btn-default">Bus</button>
	  		</div>
	  		<div class="btn-group">
	    		<button type="button" class="btn btn-default">Foot</button>
	  		</div>
		</div>

		<div class="list">

			<ul class="list-group">
				<li class="list-group-item list-group-item-info">
					<span class="badge">14</span>
					Bookstores
				</li>
				<li class="list-group-item list-group-item-danger">
					<span class="badge">11</span>
					Coffeeshops
				</li>
				<li class="list-group-item list-group-item-success">
					<span class="badge" >7</span>
					Parks
				</li>
				<li class="list-group-item list-group-item-warning">
					<span class="badge">9</span>
					Restaurants
				</li>
			</ul>

		</div>

	</div>

</body>
</html>
