#map_canvas {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 44px;
    z-index: -1;
}

.map-search{
	left: 15%;

}

#datePickerInput
{
  max-width: 80%;
}

input.form-control
{
  height: 30px;
  font-size: 15px;
  border-radius: 2px;
}

.form-group
{
  margin: 10px;
}

#tripTime 
{
  color: black;
}

#timerValue
{
  color: black;
}

.vehicleSelect img{
  width: 50px;
  margin-bottom: 0px;
  -webkit-filter: opacity(0.4);

}

.vehicleSelect input[type="radio"]:checked + img {
  -webkit-filter: opacity(1) drop-shadow(1px 1px 0px gray);
}

.input_hidden{
  position: absolute;
  left: -9999px;
}

#categories{
  height: 100%;
}

.greyBtn {
  background: #bebebe !important;
  border: none !important;
  width: 100%;
  height: 100%;
}

.categoryGoContainer{
  padding: 0px;
  margin-bottom: -10px;
}

.selectedCategory{
  border-style: 3px solid white;
  box-shadow: 0 0 0 2px white inset;
  font-weight: 400;
}

.selectedCategory h3.category{
  color: white;
  -webkit-filter: drop-shadow(1px 1px 0px #444444);
}

.selectedCategoryV2{
  background-color: #FF9805 !important;
  border-style: 3px solid white;
  box-shadow: 0 0 0 2px white inset;
}

.categoryOption h3{
  font-weight: 500;
  font-size: 20px;
  color: white;
  /*-webkit-filter: drop-shadow(1px 1px 0px #444444);*/
  padding-top: 10%;
  padding-bottom: 10%;
  text-transform: uppercase;

}

#duration{
  visibility: hidden;
}

#durationVal{
  visibility: hidden;
}

.greyDiv{
  background-color: #444444;
  padding-left: auto;
  padding-right: auto;
  padding: 20px;

}

.large-btn {
  background: #FF9805 !important;
  border: none !important;
  width: 100%;
  height: 100%;
  color: white;
}


#timer h3{
  color: white;
}


.timeButtonDiv{
  padding-top: 120px;
}

.timeButtonDiv p{
  background-color: #FF9805
}


.lightbox{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .8);
    z-index:1001;
    /*-moz-opacity: 0.8;*/
    /*opacity:.80;*/
    /*filter: alpha(opacity=80);*/
}

.timer_content {
    display: none;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    filter: alpha(opacity=95);
    /*background-color: #444444;*/
    z-index:1002;
    overflow: auto;  
    padding-top: 10%;
    padding-bottom: 10%;  
    margin: 25px;  
}

.timer_content a{
  color: #FEC700;
}

.timer-alert{

  vertical-align: middle;
}

#timer-text{
  color: white;
}

.detourName{
  color: #FF9805;
}

#recentDetours p{
  color: white;
}

#recentDetours a{
  color: #FEC700;
}

.detourFields{
  display: none;
}

.discoverButton {
  background: #FF9805 !important;
  border: none !important;
  color: white;
  -webkit-filter: drop-shadow(1px 1px 0px #444444);
}


.categoryV2
 {
   background-color: #bebebe;
   margin: 1px 1px 1px 2px;
   max-width: 49%;
 }


.bottom-sticky{
  position: absolute;
  bottom: 0px;
}

.lightbox-overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 6px;
    color: rgba(255, 255, 255, 1.0);
    overflow: auto;  
}

.directions-overlay{
    display: none;
    top: 55px;
    padding: 6px;
    color: rgba(255, 255, 255, 1.0);
    overflow: auto;  
    height: 100%;
}

.directions-info-text{
  color: rgba(255, 255, 255, 1.0);
  position: relative;
  z-index: 1002;
  vertical-align: middle;
  padding: 5px;
}

.center {
   float: none;
   margin-left: auto;
   margin-right: auto;
}

.directions-screen-arrow{
  max-width: 30%;
  float: middle;
  -webkit-transform: rotate(180deg);
  -webkit-transform: scaleY(-1);
  margin-left: 40%;
}

