#map_canvas {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 44px;
    z-index: -1;
}

.map-search{
	left: 15%;

}

#datePickerInput
{
  max-width: 80%;
}

input.form-control
{
  height: 30px;
  font-size: 15px;
  border-radius: 2px;
}

.form-group
{
  margin: 10px;
}

#tripTime 
{
  color: black;
}

#timerValue
{
  color: black;
}