.business
{
  padding: 3px 0px 3px 0px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid #33A1E2;
  position: relative;
  /* HARDCODING THIS FOR STUDIO*/
  left: 50px;
}

.profilePic
{
  padding: 3px;
}

.profilePic img
{
  border-radius: 10px;
  width: 100%;
}

p.business_name
{
  padding: 0px;
}


body
{
  font-family: "HelveticaNeue-Light"
}