/*
discoveroute theme
==============================================
CS147 Winter 2014
Elaine Zhou, Harrison Wray, Brian Lam, Aaron Holden
*/

/* COLORS
	cobalt-y color:	1F2931;
	orange: FF9805;
	light grey: bebebe;
	dark grey: 444444;
	*/


	body { 
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 13px; 
		overflow-x: hidden;
		font-weight: 300;
		height: 100%;
		width: 100%;
		margin:0px; 
		padding:0px;
	}

	.content{
		position: absolute;
		left: 0px;
	}

	.map-search {
		position: absolute; 
		top:50px; 
	}

/* INTERACTION BAR
=============================================
*/

.interaction-bar{
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 0px;
	min-height: 20%;
	max-height: 90%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	width: 100%;
}

.info-button{
	position: absolute;
	top: 50px;
	right: 0px;
	padding: 10px;
}


/* TOPBAR
=============================================
*/

.topbar ul{
	list-style: none;
	vertical-align: middle;
}

.topbar .logo{
	height: 45px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

.topbar button{
	color: white;
	background: none;
	border-color: transparent; }
}

.nav-center {
	margin: 0px;
	float:none;
}

.navbar-inner{
	text-align:center;
}

.navbar-inner span{
	display: inline-block;
}


/* SIDEBAR
==============================================
*/

.sidebar 	{
	background-color: #444444;
	border-color: #111111;
	color: white;
	position: fixed;
	left: -100px;
	width: 100px;
	height: 100%;
	z-index: 1;
}

.sidebar ul{
	padding-left:0; 
	margin-bottom:0; 
	list-style:none;
	margin: 50px 0 0 0;
}

.sidebar li{
	margin: 0 0 50px 0;
}

/* links */
.sidebar a{
	text-transform: uppercase;
	color: #bebebe;
}

.sidebar a:hover { color:#FF9805; text-decoration:none; }
.sidebar a:hover span { color:#FF9805; }

.sidebar a.active { color:#FF9805; text-decoration:none; }
.sidebar a.active span { color:#FF9805; }

/* nav icons*/
.sidebar span{
	color: #bebebe; 
	display: block;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	line-height: 150%;
}

#detourDisplay 
{
	width: 100%;
	height: 100%;
	border-spacing: 3px;
	overflow-x: scroll;
	/*overflow-y: scroll;*/
	-webkit-overflow-scrolling: touch;
}

.listing
{
	display: table-cell;
	margin: 2px 5px 2px 5px;
	padding: 5px;
	min-width: 150px;
	background-color: #444444;
	border-radius: 5px;
}

.listing > .imgDiv {
	height: 150px;
	text-align: center;
}

.listing > .listingInfo {
	text-align: center;
}

.listing > .name
{
	font-weight: bold;
	color: #FF9805;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.listing .profilePic
{
	width: 100%;
	max-width: 150px;
}


.listing > .phone_num
{
	color: white;

}

.listing {
	color: white;
}

.listing a{
	color: #FEC700;
}

.listing .expandIcon{
    position: relative;
    bottom: 10px;
	text-align: center;
}

.listing .expandIcon.short{
	bottom: -13px;
}

.listing .chevron{
	color:#FF9805; 
	font-size:16pt; 
}

#spinner{
	margin-top: 30%;	
	color: rgba(255, 255, 255, 1);
}

/* RECENT DETOURS BAR
=============================================
*/
#recentDetours {
/*	position: absolute;
	bottom: -100px;
	width: 100%;
	padding: 0px;
	min-height: 100px;*/
	/*background-color: #444444;*/
}

.inactive-icon
{
	display: none;
}

.inactive-icon > span
{
	font-size: 12px;
}

.large-btn {
  background: #FF9805 !important;
  border: none !important;
  width: 100%;
  height: 100%;
  color: white;
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
}

.btn-lg {

}

#time-input
{
	height: 40px;
	font-size: 25px;
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
	color: white;
	margin: 0 auto;
	padding-left: 17px;
	padding-top: 7px;
}

.time-container
{
	border: 2px solid white;
	margin: 0 auto;
	width: 150px;
	overflow: hidden;
}