/*
discoveroute theme
==============================================
CS147 Winter 2014
Elaine Zhou, Harrison Wray, Brian Lam, Aaron Holden
*/

/* COLORS
	cobalt-y color:	1F2931;
	orange: FF9805;
	light grey: bebebe;
	dark grey: 444444;
	*/


	body { 
		font-size: 13px; 
		overflow-x: hidden;
		font-weight: 300;
		height: 100%;
		width: 100%;
		margin:0px; 
		padding:0px;
	}

	.content{
		position: absolute;
		left: 0px;
	}

	.map-search {
		position: absolute; 
		top:50px; 
	}

/* INTERACTION BAR
=============================================
*/

.interaction-bar{
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: gray; /*rgba(0,0,0,0.3);*/
	padding: 0px;
	min-height: 20%;
}


/* TOPBAR
=============================================
*/

.topbar ul{
	list-style: none;
	vertical-align: middle;
}

.topbar .logo{
	height: 45px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

.topbar button{
	color: white;
	background: none;
	border-color: transparent; }
}

.nav-center {
	margin: 0px;
	float:none;
}

.navbar-inner{
	text-align:center;
}

.navbar-inner span{
	display: inline-block;
}


/* SIDEBAR
==============================================
*/

.sidebar 	{
	background-color: #444444;
	border-color: #111111;
	color: white;
	position: fixed;
	left: -100px;
	width: 100px;
	height: 100%;
}

.sidebar ul{
	padding-left:0; 
	margin-bottom:0; 
	list-style:none;
	margin: 50px 0 0 0;
}

.sidebar li{
	margin: 0 0 50px 0;
}

/* links */
.sidebar a{
	text-transform: uppercase;
	color: #bebebe;
}

.sidebar a:hover { color:#FF9805; text-decoration:none; }
.sidebar a:hover span { color:#FF9805; }

/* nav icons*/
.sidebar span{
	color: #bebebe; 
	display: block;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	line-height: 150%;
}

#detourDisplay 
{
	width: 100%;
	height: 100%;
	border-spacing: 3px;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

.listing
{
	display: table-cell;
	margin: 2px 5px 2px 5px;
	padding: 5px;
	min-width: 150px;
	height: 200px;
	background-color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.listing > .name
{
	font-weight: bold;
}

.listing > .profilePic
{
	width: 100%;
}

