/*
discoveroute theme
==============================================
CS147 Winter 2014
Elaine Zhou, Harrison Wray, Brian Lam, Aaron Holden
*/

/* COLORS
	dark grey:	1F2931;
	orange: FF9805;
	light grey: bebebe;
*/


body { 
	font-family: 'Nunito';
	font-size: 13px; 
	overflow-x: hidden;
	font-weight: 300;
  	height: 100%;
  	width: 100%;
  	margin:0; 
	padding:0;
}

.content{
	position: absolute;
	left: 0px;
}

.map-search {
	position: absolute; 
	top:50px; 
	bottom: 0; 
	width: 85%;
}

#map { 
	position:absolute; 
	top:10%; 
	bottom: 0px; 
	width:100%; 
	z-index: -1
}



/* TOPBAR
=============================================
*/

.topbar ul{
	list-style: none;
	vertical-align: middle;
}

.topbar .logo{
	width: 200px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

.topbar button{
	color: white;
	background: none;
    border-color: transparent; }
}

.nav-center {
    margin: 0px;
    float:none;
}

.navbar-inner{
    text-align:center;
}

.navbar-inner span{
	display: inline-block;
}


/* SIDEBAR
==============================================
*/

.sidebar 	{
	background-color: #444444;
    border-color: #111111;
    color: white;
	position: fixed;
	left: 0px;
	width: 100px;
	height: 100%;
}

.sidebar ul{
	padding-left:0; 
	margin-bottom:0; 
	list-style:none;
	margin: 50px 0 0 0;
}

.sidebar li{
	margin: 0 0 50px 0;
}

/* links */
.sidebar a{
	text-transform: uppercase;
	color: #bebebe;
}

.sidebar a:hover { color:#FF9805; text-decoration:none; }
.sidebar a:hover span { color:#FF9805; }

/* nav icons*/
.sidebar span{
	color: #bebebe; 
	display: block;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	line-height: 150%;
}

